body {
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.btn-enviar:hover {
    background-color: #0b5ed7;
}

input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.card:nth-child(2) {
    background-color: #f8f9fa;
}

.img-conteudo {
  max-width: 400px;   
  width: 100%;        
  display: block;     
  margin: 20px auto;  
}

.topico-centralizado {
  list-style-position: inside; 
  padding: 10px;             
  margin: 40px auto;      
  text-align: center;      
}

.botoes-avancado a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

h1 + h2 + h3 + h4 + h5 + h6 + p 
{
  font-size: 1.05rem;
  line-height: 1.8;
  color: #333;
  max-width: 900px;
  margin: 15px auto;
}
